<!DOCTYPE html>
<html>
  <head>
    <script src="/static/vendor/js/jquery.min.js"></script>
    <script src="/static/vendor/js/lodash.js"></script>
    <title>Markers</title>
    <style>
      #map {
          height: 60%;
          width: 50%;
          left: 25%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <p>Click on the map to add markers.</p>
    <p>Click on the buttons to remove markers.</p>
    <div id="listLocations"></div>
    <div><input onclick="deleteMarkers();" type=button value="Delete Markers"></div>





    <script>

      // In the following example, markers appear when the user clicks on the map.
      // The markers are stored in an array.
      // The user can then click an option to hide, show or delete the markers.
      var map;
      var markers = [];
      var geocoder;
      var labelList = [];
      var url = 'http://maps.worddict.net'
      {#var url = 'http://0.0.0.0:4010'#}

      function delFomList(list, id) {
          var end = list.splice(id);
          end.shift();
          return list.concat(end);
      }

      function ajaxPost(lat, lng, address, label){

        var data = new FormData();

        data.append("lat", lat);
        data.append("label", label);
        data.append("lng", lng);
        data.append("address", address);

        $.ajax({
            type: "POST",
            method: "POST",
            url: url + "/location",
            cache: false,
            contentType: false,
            processData: false,
            data: data,
            success: function(data) {
                console.log("SUCCESS", data);
            },
            error:  function(data) {
                console.log("ERROR", data);
            }});

      }

      function ajaxDelete(label){
        $.ajax({
            type: "DELETE",
            method: "DELETE",
            url: url + "/location" + "?" + $.param({label: label,}),
            cache: false,
            success: function(data) {
                console.log("SUCCESS", data);
            },
            error:  function(data) {
                console.log("ERROR", data);
                {#$("#data-wrapper").html("<b>Sorry, cannot perform this image  :(</b>")#}
            }});

      }

      function ajaxDeleteALL(label_list){
          var labels = label_list.join()
        $.ajax({
            type: "DELETE",
            method: "DELETE",
            url: url + "/locations" + "?" + $.param({labels: labels,}),
            cache: false,
            success: function(data) {
                console.log("SUCCESS", data);
            },
            error:  function(data) {
                console.log("ERROR", data);
                {#$("#data-wrapper").html("<b>Sorry, cannot perform this image  :(</b>")#}
            }});

      }

      function initMap() {
        var haightAshbury = {lat: 37.769, lng: -122.446};

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: haightAshbury,
          mapTypeId: 'roadmap'
        });


        // This event listener will call addMarker() when the map is clicked.
        map.addListener('click', function(event) {
          addMarkerSave(event.latLng);
        });

        // Adds a marker at the center of the map.
          var loc = {};
          {% for location in locations %}
              loc.lng = {{ location["longitude"] }};
              loc.lat = {{ location["latitude"] }};
              var label= {{ location["label"] }};
              addMarker(loc, label);
          {% endfor %}
      drawButtons()
      }

      // Adds a marker to the map and push to the array.
      function addMarker(location, label) {
          var marker = new google.maps.Marker({
              position: location,
              label: '' + label,
              map: map
            });
        markers.push(marker);
        labelList.push(label);
        return marker
      }

      function addMarkerSave(location) {
          var label
          if (labelList.length === 0) {
              label = 1;
          } else {
              label = labelList[labelList.length - 1];
              label++;
          }

        var m = addMarker(location, label)
        var position = m.getPosition();

        geocoder = new google.maps.Geocoder();
        var address;
        geocoder.geocode({
            latLng: position,
        },
            function(responses) {
                {#var address;#}
                address = responses[0].formatted_address
                ajaxPost(position.lat(), position.lng(), address, label)
            }
        );
        drawButtons()
      }

      // Sets the map on all markers in the array.
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }

      // Removes the markers from the map, but keeps them in the array.
      function clearMarkers() {
        setMapOnAll(null);
      }

      // Shows any markers currently in the array.
      function showMarkers() {
        setMapOnAll(map);
      }

      // Deletes all markers in the array by removing references to them.
      function deleteMarkers() {
        clearMarkers();
        if (markers.length !== 0) {
            ajaxDeleteALL(labelList);
        }
        markers = [];
        labelList = [];
        drawButtons()

      }

      function drawButtons() {
          var templ = "";
          markers.forEach(
              function (marker) {
                  var pos = marker.getPosition();
                  var label = marker.getLabel();
                  templ += _.template('<input onclick="deleteMarker('+ label +');" type=button value="' + label + '">')(label);
              }
          )
          $("#listLocations").html(templ);
      }

      function deleteMarker(label) {
          var del;
          var del_label;
          for (var i = 0; i < markers.length; i++) {
             var l = parseInt(markers[i].getLabel(), 10)
             if (label === l) {
                del = i;
                markers[i].setMap(null);
                ajaxDelete(label);
                del_label = labelList.indexOf(label);
             }
         }
          markers = delFomList(markers, del);
          labelList = delFomList(labelList, del_label);
          drawButtons();

      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ GMAPS_SECRET }}&callback=initMap">
    </script>





  </body>
</html>